<%= div_for comment do %>
	<p>
		<strong> Posted <%= time_ago_in_words(comment.created_at) %> </strong> <br />
		<%= h(comment.body) %>
		<% if current_user %>
		<% if (current_user.email == comment.email) %>
			<div class="linksdiv" style="font-color:white"><%= link_to 'Edit', edit_comment_path(comment) %></div>
		<% end %>
		<% end %>
	</p>
<% end %>
