<p id="notice"><%= notice %></p>

<h1 style = "font-family:'Brush Script MT', cursive;color:orange;font-size:5em;">Listing Posts</h1>

<table style = "font-size:1.5em;min-height:250px;min-width:200px;">
  <thead>
    <tr>
      <th>Title</th>	  
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="links">
        <td><%= post.title %></td>
        <td><%= post.body %></td>		
        <td style="font-size:1em;color:white;"><%= link_to 'Show', post %></td>
		<% if current_user %>
		<% if current_user && (current_user.email == post.email)%>
        <td style="font-size:1em;"><%= link_to 'Edit', edit_post_path(post) %></td>
        <td style="font-size:1em;"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user%>
<div class="linksdiv"><%= link_to 'New Post', new_post_path %></div>
<% end %>
