<p id="notice"><%= notice %></p>

<p style="margin-left:1%;">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p style="margin-left:1%;">
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<h2 style="margin-left:5%;"> Comments </h2>
<div id = "comments">
	<% @post.comments.each do |comment| %>
		<%= render :partial => @post.comments.reverse %>
	<% end %>
</div>

<% if current_user %>
<%= form_for([@post, Comment.new], remote: true ) do |f| %>
<p> <%= f.label :body, "New Comment" %> <br />
    <%= f.text_area :body %>
</p>
<p> <%= f.submit "Add Comment" %> </p>
<% end %>
<% if (current_user.email == @post.email) %>
<div class="linksdiv" style="margin-left:5%;"><%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% else %>
	<h2> Please <%= link_to "Sign in",new_user_session_path %> to comment on this post </h2>
<% end %>
<%= link_to 'Back', posts_path %> </div>
