body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

tr.links td > a, .new_post > a{
	 color:darkturquoise;
}

.new_comment,.comments, .comment{
	margin-left:5%;
    margin-bottom: 40px;
}

.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size:2em;
  text-decoration:none;
  color:orange;
}

.menu-outer{
	height:84px;	
}

.table{
	display:table;
	margin: 0 auto;	
}

ul#horizontal-list{	
	list-style:none;	
}
	ul#horizontal-list li{
		display:inline;
		margin-right:50px;
	}

div.linksdiv > a{
	 color:white;
	 font-size:1.5em;
	 vertical-align:middle;	 
}

div.signout > a{
	 color:black;
	 font-size:1em;	 
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
