<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image:url(/assets/blog23.jpg);background-repeat: no-repeat;background-attachment: fixed;background-position: 100% 100%;background-size:cover;
color:white;">
<% if current_user %>               			
	<h1 style = "font-family:'Brush Script MT', cursive;color:darkturquoise;font-size:5em;display:inline-block;">Hello <%= current_user.email[/[^@]+/] %></h1>
<% end %>						
<div style="color:black;text-align:right;font-size:1.8em;display:inline-block;position:absolute;right:10px;" >
	 <% if current_user %>
		Logged in as <label> <%= current_user.email %> </label>
	    <div class="signout"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></div>
	<% else %>
		<div><%= link_to "Sign in",new_user_session_path %></div><br />
		Not Registered? Click  <%= link_to "here", new_user_registration_path %> to Sign up
	<% end %>
	</div>
<%= yield %>

</body>
</html>
